html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #5D5D5F;
  background-color: white;
  margin: 0;
}

h3 {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #5D5D5F;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5D5D5F;
  text-transform: uppercase;
}

.logo h3 {
  margin: 0; 
}

.logo i {
  font-size: 2em;
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul li {
  padding-right: 10px;
}

.header ul li i {
  border: 2px solid #5D5D5F;
  font-size: 1em;
}

.header ul li:last-child {
  padding: 0 0 0 10px;
}

.header ul li:last-child i {
  font-size: 2em;
}

.main-article {
  background: url('../images/image_cover_1.jpg') no-repeat center/cover;
  padding: 100px 20%;
  margin: 0 0 10px;
}

.main-article:last-child {
  background: url('../images/image_cover_2.jpg') no-repeat center/cover;
}

.main-article a {
  text-decoration: none;
  color: white;
}

.main-article section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0;
}

.main-article h1 {
  font-size: 2.5em;
  margin: 0 0 10px;
}

.main-article p {
  margin: 0;
}

.date-small {
  font-size: 0.6em;
  text-transform: uppercase;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.secondary-container {
  background-color: #006699;
  padding-top: 20px;
}

.secondary-article {
  padding: 0 10px 20px;
}

.secondary-article a {
  text-decoration: none;
  color: #5D5D5F;
  display: flex;
  flex-direction: column;
}

.secondary-container .secondary-article a {
  flex-direction: row;
}

.secondary-article section {
  background-color: white;
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: column;
}

.secondary-article section h3 {
  color: #006699;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.secondary-article section p {
  margin: 0;
}

.secondary-article section .date-small {
  order: -1;
}

.secondary-article img {
  width: 40%;
  height: auto;
}

.home-aside {
  padding: 20px 10px;
  background-color: #006699;
  flex: 1;
}

.home-aside ul {
  background-color: white;
  height: 100%;
  padding: 40px;
  list-style-type: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-aside li {
  padding: 20px 0;
}

.tertiary-container {
  background-color: rgba(0, 0, 0, 0.1);
}

.tertiary-container h2 {
  text-align: center;
  padding: 30px 0 50px;
  margin: 0
}

.tertiary-container .secondary-article section {
  padding: 40px;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

footer .logo {
  color: white;
  justify-content: center;
  padding: 30px 0;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
}

footer ul li {
  width: 33.33%;
  text-align: center;
  padding: 30px 0;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
}

.post-container article {
  padding: 20px 10px 10px;
}

.tag {
  background-color: #006699;
  padding: 5px 30px;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

.title-container h1 {
  font-size: 3.5em;
  padding: 10px;
  margin: 0;
}

.title-container ul {
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
}

.title-container ul li {
  margin-right: 5px;
}

.title-container ul li:last-child {
  margin-right: 0;
}

.title-container time {
  padding: 20px 50px;
  background-color: black;
  position: absolute;
  top: -10px;
  right: -10px;
}

.simple-centered {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle-container h2 {
  font-size: 2.0em;
  padding: 60px 0;
  margin: 0;
}

.subtitle-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.paragraph-container {
  background-color: #006699;
  margin-top: 20px;
  padding: 40px 30px;
  color: white;
  line-height: 1.5;
  font-size: 1.2em;
}

.paragraph-container p {
  margin-top: 0;
  text-align: justify;
}

.paragraph-container img {
  width: 100%;
}

.author {
  padding: 30px 0;
}

.post-container aside {
  flex: 1;
}

.aside-container .secondary-article section {
  background-color: rgba(0, 0, 0, 0.1);
}

.aside-container .secondary-article section h3 {
  margin: 10px 0 0;
}

.aside-container .secondary-article section .tag {
  order: -1;
  color: white;
  text-align: center;
  width: 30%;
}

.aside-container .secondary-article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.scroll-top {
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.scroll-top:focus {
  outline: 0;
}

.scroll-top i {
  font-size: 2em;
}


@media screen and (min-width: 501px) {
  .main-article h1 {
    font-size: 3em;
  }

  .secondary-article section {
    padding: 20px;
  }

  .tertiary-container .secondary-article {
    width: 50%;
  }

  .paragraph-container img {
    width: 40%;
    float: right;
    margin: 10px 0 10px 10px;
  }

  .aside-container .secondary-article img {
    height: 300px;
  }
}

@media screen and (min-width: 961px) {
  .main-container {
    display: flex;
  }

  .main-container .main-article {
    width: 50%;
    padding: 150px 10%;
    margin: 0;
    border: 10px solid white;
  }

  .main-container .main-article:first-child {
    border-right-width: 5px;
  }

  .main-container .main-article:last-child {
    border-left-width: 5px;
  }

  .secondary-container {
    width: 65%;
  }

  .secondary-article img {
    width: 30%;
  }

  .tertiary-container .columns {
    width: 90%;
    margin: 0 auto;
  }

  .tertiary-container .secondary-article {
    width: 33.33%;
  }

  .paragraph-container img {
    width: 30%;
    float: right;
  }

  .post-container > article {
    width: 70%;
  }

  .aside-container .secondary-article img {
    height: 200px;
  }

  footer .footer-content {
    display: flex;
    padding: 30px 10px 0;
    width: 90%;
    margin: 0 auto;
  }

  footer .footer-content .logo {
    width: 20%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  footer .footer-content ul {
    width: 80%;
  }

  .scroll-top i {
    font-size: 3em;
  }
}
